<tr>
  <td><%= ticket.id %></td>
  <td><%= link_to t('common.show'), ticket %></td>
  <td><%= link_to t('common.edit'), edit_ticket_path(ticket) %></td>
  <td><%= link_to t('common.destroy'), ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
