<p id="notice"><%= notice %></p>

<h1>Listing tickets</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tickets %>
  </tbody>
</table>

<br>

<%= link_to 'New ticket', new_ticket_path %>
