<tr>
  <td><%= wagon.id %></td>
  <td><%= link_to t('common.show'), wagon %></td>
  <td><%= link_to t('common.edit'), edit_wagon_path(wagon) %></td>
  <td><%= link_to t('common.destroy'), wagon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
