<!DOCTYPE html>
<html>
<head>
  <title>Tutu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div>(с) 2016 Иван Иванов. Учебный проект в онлайн-школе Thinknetica</div>
</body>
</html>
